# Python
.venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/


.claude
*.md
graphify-out